// @import '../../index.scss';

.tourlist {
  width: 70vw;
  margin: 0 auto;
  padding: 2rem 0;
}

@media screen and (min-width: 1140px) {
  .tourlist {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    // grid-template-columns: 1fr 1fr;
    
  }
}

@media screen and (min-width:992px) {
  .tourlist {
    display: grid;
    grid-gap: 1.5rem;
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: 1fr 1fr;
    width: 80vw;
  }
}

// @media screen and (min-width:760px) {
//   .tourlist {
//     display: grid;
//     grid-gap: 1.5rem;
//     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
//     // grid-template-columns: 1fr 1fr;
//   }
// }


